.fruits{
    color: aqua;
    border: 2px solid black;
    background-color: brown;
    padding: 15px;
    margin: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.football{
    color: azure;
    border: 3px;
    background-color: blueviolet;
    padding: 16px;
    margin: 16px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.computers{
    color: bisque;
    border: 3px;
    background-color: blue;
    padding: 15px;
    margin: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.actors{
    color: blueviolet;
    border: 2px;
    background-color: black;
    padding: 15px;
    margin: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.celebrities{
    color: aquamarine;
    border: 3px;
    background-color: gold;
    padding: 15px;
    margin: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}